<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Projects</h2>
        <hr class="small">
        <div class="row">
          <!-- <div class="col-md-12">
            <div class="portfolio-item">
              <h3>애니모어</h3>
              <a href="https://github.com/hjlee0820/animore">
                <img class="img-portfolio img-responsive" src="img/custom/ani-main.jpg">
              </a>
              <div class="btns">
                <a href="https://www.youtube.com/watch?v=MJhDzc4VFGg"><button class="btn">Demo</button></a>
                <a href="https://github.com/hjlee0820/animore"><button class="btn">Repo</button></a>
                <a href="http://"><button class="btn">PDF</button></a>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
              </a>
            </div>
          </div> -->


          
          <div class="col-md-12">
            <div class="portfolio-item">
              <h3>애니모어</h3>
                
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
                  <img class="img-portfolio img-responsive" src="img/custom/ani-main.jpg">
                </button>

                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      {% include video id="MJhDzc4VFGg" provider="youtube" %}
                    </div>
                  </div>
                </div>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus porro a illum, cupiditate corporis vitae molestiae doloribus iste expedita, excepturi tenetur eaque eum, sed praesentium voluptas soluta iure accusamus maxime.</p>
                <div class="btns">
                  <a href="https://www.youtube.com/watch?v=MJhDzc4VFGg" class="btn btn-dark">Demo</a>
                  <a href="https://github.com/hjlee0820/animore" class="btn btn-dark">Repo</a>
                  <a href="http://" class="btn btn-dark">PDF</a>
                </div>

            </div>
          </div>

        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
